.login-header__window-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.login-header__window-bar span {
  margin-right: 15px;
  cursor: pointer;
}
