.login-reset {
  animation: resetIn 1s linear;
  animation-delay: 0.5s;
}

@keyframes resetIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
