.settings-screen {
  padding-top: 98px;
}

.settings__list {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #454545;
}

.settings__list .settings__list-item {
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.settings__list .settings__list-item i {
  margin-right: 10px;
}
